In [1]:
# Import Dependencies
import pandas as pd
from pathlib import Path

In [3]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = Path("202310-citibike-tripdata-raw.csv")
NY_citibike_df = pd.read_csv(csv_path)

NY_citibike_df.head()

/var/folders/zc/0n64qpgd1cv2bxtpk3sqdd4w0000gn/T/ipykernel_13358/4258204023.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  NY_citibike_df = pd.read_csv(csv_path)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F01D2D54E9E60D6E,classic_bike,10/3/23 2:48,10/3/23 2:48,Columbus Pl & Atlantic Ave,4146.02,Columbus Pl & Atlantic Ave,4146.02,40.677223,-73.922792,40.677170,-73.922850,casual
1,CAE4EDBEA07001BD,classic_bike,10/11/23 16:03,10/11/23 16:45,Central Park West & W 85 St,7354.01,Central Park West & W 85 St,7354.01,40.784760,-73.969862,40.784760,-73.969862,casual
2,FDC34BAD31193E07,classic_bike,10/11/23 19:57,10/11/23 20:20,Hicks St & Montague St,4645.09,5 St & 6 Ave,3874.01,40.694974,-73.995936,40.670484,-73.982090,casual
3,DFEA5E65AE91CE2A,classic_bike,10/10/23 20:18,10/10/23 20:18,Atlantic Ave & Furman St,4614.04,Atlantic Ave & Furman St,4614.04,40.691669,-74.000139,40.691652,-73.999979,casual
4,48299D8BE9B55255,classic_bike,10/17/23 16:26,10/17/23 16:34,E 41 St & Madison Ave (SE corner),6432.1,E 58 St & 3 Ave,6762.02,40.751845,-73.979585,40.760958,-73.967245,casual

In [4]:
NY_citibike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1048575 non-null  object
 1   rideable_type       1048575 non-null  object
 2   started_at          1048575 non-null  object
 3   ended_at            1048575 non-null  object
 4   start_station_name  1048207 non-null  object
 5   start_station_id    1048207 non-null  object
 6   end_station_name    1048126 non-null  object
 7   end_station_id      1048126 non-null  object
 8   start_lat           1048575 non-null  float64
 9   start_lng           1048575 non-null  float64
 10  end_lat             1048476 non-null  float64
 11  end_lng             1048476 non-null  float64
 12  member_casual       1048575 non-null  object
dtypes: float64(4), object(9)
memory usage: 104.0+ MB

In [5]:
# Drop null values. 
NY_citibike_df = NY_citibike_df.dropna()
NY_citibike_df.count()

ride_id               1047758
rideable_type         1047758
started_at            1047758
ended_at              1047758
start_station_name    1047758
start_station_id      1047758
end_station_name      1047758
end_station_id        1047758
start_lat             1047758
start_lng             1047758
end_lat               1047758
end_lng               1047758
member_casual         1047758
dtype: int64

In [6]:
NY_citibike_df.to_csv("citibike_tripdata.csv", index=False, header=True)